In [ ]:
# Import Dependencies
import pandas as pd
import random
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import sem
import os
from pathlib import Path
import requests
import json
import kagglehub

kagglehub.login()

VBox(children=(HTML(value='<center> <img\nsrc=https://www.kaggle.com/static/images/site-logo.png\nalt=\'Kaggle…

Kaggle credentials set.
Kaggle credentials successfully validated.

In [17]:
# Download latest version
path = kagglehub.dataset_download("muhammadroshaanriaz/time-wasters-on-social-media")
print("Path to dataset files:", path)

Path to dataset files: C:\Users\theli\.cache\kagglehub\datasets\muhammadroshaanriaz\time-wasters-on-social-media\versions\1

In [ ]:
# Set the csv file path to load
file_to_load = Path("/Users/theli/.cache/kagglehub/datasets/muhammadroshaanriaz/time-wasters-on-social-media/versions/1/Time-Wasters on Social Media.csv")

#Read data
mobile_usage_df = pd.read_csv(file_to_load)
mobile_usage_df

,UserID,Age,Gender,Location,Income,Debt,Owns Property,Profession,Demographics,Platform,...,ProductivityLoss,Satisfaction,Watch Reason,DeviceType,OS,Watch Time,Self Control,Addiction Level,CurrentActivity,ConnectionType
0,1,56,Male,Pakistan,82812,True,True,Engineer,Rural,Instagram,...,3,7,Procrastination,Smartphone,Android,9:00 PM,5,5,Commuting,Mobile Data
1,2,46,Female,Mexico,27999,False,True,Artist,Urban,Instagram,...,5,5,Habit,Computer,Android,5:00 PM,7,3,At school,Wi-Fi
2,3,32,Female,United States,42436,False,True,Engineer,Rural,Facebook,...,6,4,Entertainment,Tablet,Android,2:00 PM,8,2,At home,Mobile Data
3,4,60,Male,Barzil,62963,True,False,Waiting staff,Rural,YouTube,...,3,7,Habit,Smartphone,Android,9:00 PM,5,5,Commuting,Mobile Data
4,5,25,Male,Pakistan,22096,False,True,Manager,Urban,TikTok,...,8,2,Boredom,Smartphone,iOS,8:00 AM,10,0,At home,Mobile Data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,22,Male,India,74254,True,True,Students,Rural,TikTok,...,9,1,Procrastination,Smartphone,iOS,5:45 PM,10,0,At work,Mobile Data
996,997,40,Female,Pakistan,27006,False,False,Waiting staff,Urban,Facebook,...,8,2,Boredom,Smartphone,MacOS,10:15 PM,10,0,At home,Mobile Data
997,998,27,Male,India,94218,True,True,Waiting staff,Rural,TikTok,...,9,1,Procrastination,Smartphone,iOS,10:15 PM,10,0,Commuting,Mobile Data
998,999,61,Male,Pakistan,85344,True,False,Students,Urban,YouTube,...,3,7,Procrastination,Smartphone,MacOS,10:15 PM,5,5,At work,Wi-Fi
999,1000,19,Male,India,53840,True,True,driver,Urban,YouTube,...,6,4,Procrastination,Smartphone,Android,4:25 PM,8,2,At home,Mobile Data

In [ ]:
# Get info about total rows and columns
num_rows, num_columns = mobile_usage_df.shape

print(f"Total number of rows is: {num_rows}")
print(f"Total number of columns is: {num_columns}")

Total number of rows is: 1000
Total number of columns is: 31

#### Clean the Data

In [22]:
# Get info about data
mobile_usage_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   UserID                    1000 non-null   int64
 1   Age                       1000 non-null   int64
 2   Gender                    1000 non-null   object
 3   Location                  1000 non-null   object
 4   Income                    1000 non-null   int64
 5   Debt                      1000 non-null   bool
 6   Owns Property             1000 non-null   bool
 7   Profession                1000 non-null   object
 8   Demographics              1000 non-null   object
 9   Platform                  1000 non-null   object
 10  Total Time Spent          1000 non-null   int64
 11  Number of Sessions        1000 non-null   int64
 12  Video ID                  1000 non-null   int64
 13  Video Category            1000 non-null   object
 14  Video Length              1000 non-null   int64
 15  Engagement                1000 non-null   int64
 16  Importance Score          1000 non-null   int64
 17  Time Spent On Video       1000 non-null   int64
 18  Number of Videos Watched  1000 non-null   int64
 19  Scroll Rate               1000 non-null   int64
 20  Frequency                 1000 non-null   object
 21  ProductivityLoss          1000 non-null   int64
 22  Satisfaction              1000 non-null   int64
 23  Watch Reason              1000 non-null   object
 24  DeviceType                1000 non-null   object
 25  OS                        1000 non-null   object
 26  Watch Time                1000 non-null   object
 27  Self Control              1000 non-null   int64
 28  Addiction Level           1000 non-null   int64
 29  CurrentActivity           1000 non-null   object
 30  ConnectionType            1000 non-null   object
dtypes: bool(2), int64(16), object(13)
memory usage: 228.6+ KB

In [23]:
# Check for any null values
mobile_usage_df.isna().sum()

UserID                      0
Age                         0
Gender                      0
Location                    0
Income                      0
Debt                        0
Owns Property               0
Profession                  0
Demographics                0
Platform                    0
Total Time Spent            0
Number of Sessions          0
Video ID                    0
Video Category              0
Video Length                0
Engagement                  0
Importance Score            0
Time Spent On Video         0
Number of Videos Watched    0
Scroll Rate                 0
Frequency                   0
ProductivityLoss            0
Satisfaction                0
Watch Reason                0
DeviceType                  0
OS                          0
Watch Time                  0
Self Control                0
Addiction Level             0
CurrentActivity             0
ConnectionType              0
dtype: int64

In [24]:
# Check for any duplicates
mobile_usage_df[mobile_usage_df.duplicated()]

Empty DataFrame
Columns: [UserID, Age, Gender, Location, Income, Debt, Owns Property, Profession, Demographics, Platform, Total Time Spent, Number of Sessions, Video ID, Video Category, Video Length, Engagement, Importance Score, Time Spent On Video, Number of Videos Watched, Scroll Rate, Frequency, ProductivityLoss, Satisfaction, Watch Reason, DeviceType, OS, Watch Time, Self Control, Addiction Level, CurrentActivity, ConnectionType]
Index: []

[0 rows x 31 columns]

In [25]:
# Fetch random rows
mobile_usage_df.sample(5)

,UserID,Age,Gender,Location,Income,Debt,Owns Property,Profession,Demographics,Platform,...,ProductivityLoss,Satisfaction,Watch Reason,DeviceType,OS,Watch Time,Self Control,Addiction Level,CurrentActivity,ConnectionType
858,859,26,Male,India,98356,True,True,driver,Rural,Facebook,...,3,7,Procrastination,Tablet,iOS,2:00 PM,5,5,At school,Mobile Data
367,368,59,Male,Philippines,27851,False,True,Students,Rural,YouTube,...,3,7,Boredom,Smartphone,Windows,8:30 PM,5,5,At school,Mobile Data
974,975,43,Female,Barzil,53870,True,True,Students,Rural,Instagram,...,6,4,Boredom,Smartphone,iOS,10:15 PM,8,2,At school,Wi-Fi
38,39,24,Male,Barzil,52591,True,True,Cashier,Rural,YouTube,...,3,7,Habit,Smartphone,Android,9:00 PM,5,5,At home,Mobile Data
920,921,39,Male,United States,56021,True,False,Labor/Worker,Urban,YouTube,...,6,4,Habit,Smartphone,Android,10:15 PM,8,2,At home,Wi-Fi

In [26]:
mobile_usage_df.to_csv("Cleaned_dataset.csv")

Analysis Questions:
-